<script>
  import { onMount } from 'svelte';
  import { prayersStore } from '../store/prayersStore';
  import { format } from 'date-fns';
  import {
    mainColor,
    backgroundColor,
    highlightColor,
    clockStyle,
  } from '../config/theme';
  import { onDestroy } from 'svelte';
  import { hijriDate } from '../helpers/func';
  import cssVars from 'svelte-css-vars';

  $: styleVars = {
    mainColor,
    backgroundColor,
    highlightColor,
  };
  let time;
  let date;
  let hijri;
  let isAfterIsha;

  const unsubscribePrayers = prayersStore.subscribe(value => {
    time = format(value.trueNow, 'HH:mm:ss');
    date = format(value.trueNow, 'EEE d MMMM yyyy');
    hijri = hijriDate(value.trueHijri);
    isAfterIsha = value.isAfterIsha;
  });
  onDestroy(unsubscribePrayers);
</script>

<style>
  #clock {
    display: flex;
    flex-direction: column;
    /* height: 100%; */
    line-height: 1;
    height: 50%;

    /* height: 20%; */
    /* height: 15vh; */

    justify-content: center;
    align-items: center;
    padding: 0;
    /* border-top: 2px solid rgba(0, 0, 0, 0.25);
    border-bottom: 2px solid rgba(0, 0, 0, 0.25); */
  }
  .time {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    font-size: 8vh;
  }
  .date {
    flex: 0.6;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    /* border-top: 0.05vh solid var(--mainColor); */
    font-size: 2vh;
    line-height: 1.35;
    background: rgba(255, 255, 255, 0.15);
  }
  .small {
    flex: 0.4;
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
    font-size: 1.6vh;
    line-height: 1.75;
    text-transform: uppercase;
    /* border-top: 0.05vh solid var(--mainColor); */
  }
</style>

<section id="clock" style={clockStyle} use:cssVars={styleVars}>
  <div class="time">{time}</div>
  <div class="date">
    <div>{date}</div>
    <div>{hijri}</div>

  </div>
  <div class="small">
    <span>Prayer times for</span>
    <span>&nbsp;</span>
    <span style={`color:${highlightColor}`}>
      {isAfterIsha ? 'tomorrow' : 'today'}
    </span>
  </div>
  <!-- <div>{hours}:{minutes}:{seconds}</div> -->
</section>
