<script>
  import { prayersStore } from '../store/prayersStore';
  import { format } from 'date-fns';
  import { hijriDate } from '../helpers/func';
  import { convertToDuration, capitalise } from '../helpers/func';
  import { onDestroy } from 'svelte';
  import {
    mainColor,
    backgroundColor,
    highlightColor,
    countdownStyle,
    barStyle,
    barBgStyle,
  } from '../config/theme';
  import cssVars from 'svelte-css-vars';

  $: styleVars = {
    mainColor,
    backgroundColor,
    highlightColor,
  };

  let duration;
  let name;
  let percentage;
  let isJamaahPending;

  const unsubscribePrayers = prayersStore.subscribe(value => {
    duration = convertToDuration(value.countDown.duration);
    name = capitalise(value.countDown.name);
    percentage = value.percentage;
    isJamaahPending = value.isJamaahPending;
  });

  onDestroy(unsubscribePrayers);
</script>

<style>
  #countdown {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 20%;
    /* height: 100%; */
    /* height: 10%; */
    /* height: 20vh; */
    font-size: 3.2vh;

    padding: 1vh 0;
    /* border-top: 0.15vh solid rgba(255, 255, 255, 0.5); */

    /* background: rgba(255, 255, 255, 0.25); */
    /* border-top: 2px solid rgba(0, 0, 0, 0.25); */
  }
  .info {
    display: flex;
    flex-direction: column;
    padding-bottom: 1vh;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  #barbg {
    width: 100%;
    position: absolute;
    bottom: 0;

    display: block;
    height: 1vh;
    background: rgba(255, 255, 255, 0.15);
  }
  #bar {
    position: absolute;
    display: block;
    bottom: 0;
    height: 1vh;
    background: var(--highlightColor);
    background: rgba(255, 255, 255, 0.15);
  }
</style>

<section id="countdown" style={countdownStyle} use:cssVars={styleVars}>
  <div class="info">
    <div style={`font-size: 75%;color:${highlightColor}`}>
      <!-- {name} {isJamaahPending ? ' iqamah' : ''} -->
      {name}
    </div>
    <div>{duration}</div>
  </div>
  <section id="barbg" style={barBgStyle} />
  <section id="bar" style={`width:${percentage}%;${barStyle}`} />
  <!-- <div>{hours}:{minutes}:{seconds}</div> -->
</section>
