<script>
  import { settingsStore } from '../store/settingsStore';
  import { toggleSet } from '../store/actions/toggleCheck'; // , local

  import { format } from 'date-fns';
  import logo from '../config/logo.svg';
  import toggleOn from '../assets/icons/toggleOn.svg';
  import toggleOff from '../assets/icons/toggleOff.svg';
  // let src = "images/background.jpg";
  import {
    mainColor,
    backgroundColor,
    highlightColor,
    headerStyle,
    logoStyle,
  } from '../config/theme';
  import { onDestroy } from 'svelte';

  // console.log(logo);
  let date;
  let hijri;
  let jamaahShow;

  const unsubscribeSettings = settingsStore.subscribe(value => {
    // console.log(value.jamaahShow);
    jamaahShow = value.jamaahShow;
  });

  function handleToggle() {
    // console.log('toggle before:', toggle);
    toggleSet(!jamaahShow);
    // console.log('toggle after:', toggle);
  }

  onDestroy(unsubscribeSettings);
</script>

<style>
  #header {
    height: 4vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(255, 255, 255, 0.25);
    padding: 2vh;
    font-size: 2vh;
  }

  #header > div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    font-size: 75%;
  }
  #header > div:first-child {
    justify-content: flex-start;
    align-items: center;
    /* text-align: left; */
    /* width: 50% !important; */
    flex: 0.65;
    height: 3vh !important;
  }

  #header > div:nth-child(2) {
    justify-content: center;
    align-items: center;
    /* text-align: left; */
    width: 3vh !important;
    height: 3vh !important;
  }
  #header > div:nth-child(2) div {
    justify-content: flex-end;
    align-items: flex-end;
    /* text-align: left; */
    width: 3vh;
    height: 3vh;
  }
  #header > div:last-child {
    justify-content: flex-end;
    align-items: center;
  }
  #header .logo {
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
    height: 3vh;
  }

  #header div.button-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    /* background: #fff; */
  }
  #header div.button-container div.button {
    display: block;
    /* background: #fff; */

    height: 2vh;
    width: 3.5vh;
    /* border: 1px solid; */
    font-size: 100%;
  }

  /* #header .logo img {
    width: 30px !important;
    height: 30px !important;
    fill: #fff;
    fill-rule: nonzero;
  }
  :global(.logo .img) {
    fill: #fff;
    fill-rule: nonzero;
  } */
</style>

<section id="header" style={headerStyle}>
  <div class="button-container">
    <div class="button" style="fill:{mainColor};" on:click={handleToggle}>
      {#if jamaahShow}
        {@html toggleOn}
      {:else}
        {@html toggleOff}
      {/if}
      <!-- {jamaahShow} -->
    </div>
  </div>

  <div>
    <div class="logo" style={logoStyle}>
      {@html logo}
    </div>
  </div>
  <!-- <div>{hours}:{minutes}:{seconds}</div> -->
</section>
<!-- date: (state: any) => format(state.prayers.now, "EEE d MMMM yyyy"), hijri:
(state: any) => hijriDate(state.prayers.hijri) -->
<!-- <template>
  <section id="header">
    <div>{{ date }}</div>
    <div class="image">
      <Logo/>
    </div>
    <div>{{ hijri }}</div>
  </section>
</template> -->
