<script>
  import { prayersStore } from '../store/prayersStore';
  import { settingsStore } from '../store/settingsStore';
  import { fade, fly } from 'svelte/transition';

  import { format } from 'date-fns';
  import { hijriDate } from '../helpers/func';
  import cssVars from 'svelte-css-vars';

  import {
    mainColor,
    backgroundColor,
    highlightColor,
    prayersStyle,
    prayerRowStyle,
    prayerHeaderStyle,
    prayerMainStyle,
    prayerNextStyle,
  } from '../config/theme';
  import { onDestroy } from 'svelte';

  $: styleVars = {
    mainColor,
    backgroundColor,
    highlightColor,
  };

  // let src = "images/background.jpg";
  // console.log(logo);
  let date;
  let hijri;

  const renderPrayers = (prayersList, join) => {
    // console.log(join);
    // console.log(prayersList);
    const { next, isAfterIsha, focus } = prayersList;

    const adhan = prayer => {
      let result;
      if (join && prayer.name === 'isha') {
        result = 'after';
      } else {
        result = format(prayer.time, 'H:mm');
      }
      return result;
    };

    const iqamah = prayer => {
      let result;
      if (join && prayer.name === 'isha') {
        result = 'maghrib';
      } else if (prayer.name === 'shurooq') {
        result = '';
      } else {
        result = format(prayer.jtime, 'H:mm');
      }
      return result;
    };

    /* eslint-disable react/no-array-index-key */
    return prayersList.map((prayer, index) => ({
      id: index,
      name: prayer.name,
      adhan: adhan(prayer),
      iqamah: iqamah(prayer),
      isNext: prayer.isNext,
      isJamaahPending: prayer.isJamaahPending,
    }));
  };

  let settings;
  let prayers;

  const unsubscribePrayers = prayersStore.subscribe(value => {
    // console.log(value.isAfterIsha);
    // console.log($settingsStore);
    prayers = value.isAfterIsha
      ? renderPrayers(value.prayers.tomorrow, $settingsStore.join)
      : renderPrayers(value.prayers.today, $settingsStore.join);
  });

  onDestroy(unsubscribePrayers);

  let jamaahShow;
  const unsubscribeSettings = settingsStore.subscribe(value => {
    jamaahShow = value.jamaahShow;
    // refreshed = appRefreshed(value);
    // refreshed = value.refreshed;
    // refreshedDiff = appRefreshed(value.refreshed);
    // // refreshedDiff = value.refreshedDiff;
    // // refreshed = new Date();
    // online = !!navigator.onLine;
    // counter = value.counter;
  });

  onDestroy(unsubscribeSettings);
</script>

<style>
  #prayers {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 400;
    font-size: 2.4vh;
    padding: 0 1vh;
    padding: 0;
    background: var(--backgroundColor);
    border-top: 0.5vh solid var(--highlightColor);
    border-bottom: 0.5vh solid var(--highlightColor);
  }
  header {
    font-size: 75%;
    height: 6vh;
  }
  .prayer {
    text-transform: uppercase;
    height: 8.3vh;
    background: rgba(255, 255, 255, 0.15);
  }
  /* main {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
  } */
  .prayer,
  header {
    position: relative;
    display: block;
    margin-top: 0.1vh;
    width: 100%;
  }
  .prayer div,
  header div {
    /* background: #ccc; */
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 28%; */
    width: 10%;
    height: 90%;
    /* border: 2px solid #000; */
    top: 5%;
    left: 45%;
    /* padding: 0 3%; */
  }
  .prayer div:first-child,
  header div:first-child {
    left: 3%;
    align-items: flex-start;

    /* text-align: left; */
  }

  .prayer div:last-child,
  header div:last-child {
    left: 87%;
    /* text-align: right; */

    align-items: flex-end;
  }

  .prayer div span,
  header div span {
    display: flex;
    width: 100%;

    position: relative;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    /* background: #999; */
    transition: all 0.5s;
  }
  .prayer div span.pending {
    text-decoration: underline;
    /* text-decoration: underline wavy white; */
    /* text-underline-offset: 1em; */
  }

  .prayer div:first-child span,
  header div:first-child span {
    justify-content: flex-start;
    /* width: 100%; */
  }
  .prayer div:last-child span,
  header div:last-child span {
    transition: all 0.5s;
    justify-content: flex-end;
    transition-delay: 0.4s;
  }

  /* next and toggle */
  .next {
    background: var(--highlightColor);
    font-weight: 700;
  }

  .toggled {
    /* left: 35%; */
    transition: all 0.5s;
  }
  .untoggled {
    left: 70%;
    transition: all 0.5s;
  }
  .untoggled-delay {
    opacity: 0.9;
    left: 70%;
    transition: all 0.5s;
    transition-delay: 0.4s;
  }
</style>

<section id="prayers" style={prayersStyle} use:cssVars={styleVars}>
  <header style={prayerHeaderStyle}>
    <div>
      <span>Prayer</span>
    </div>
    <div class={jamaahShow ? 'toggled' : 'untoggled'}>
      <span>Adhan</span>
    </div>
    {#if jamaahShow}
      <div in:fly out:fly>
        <span>Iqamah</span>
      </div>
    {/if}
  </header>
  <main>
    {#each prayers as { id, name, adhan, iqamah, isNext, isJamaahPending }, i}
      <div
        class={isNext ? 'prayer next' : 'prayer'}
        style={`${prayerRowStyle}${isNext ? prayerNextStyle : ''}`}>
        <div>
          <span>{name}</span>
        </div>
        <div class={jamaahShow ? 'toggled' : 'untoggled'}>
          <span
            class={(!isJamaahPending && isNext) || (isNext && !jamaahShow) ? `pending` : ''}>
            {adhan}
          </span>
        </div>

        {#if jamaahShow}
          <div
            in:fly
            out:fly
            class={`${isJamaahPending && isNext ? 'pending' : ''}`}>
            <!-- {#if isJamaahPending && isNext}>{/if} -->
            <!-- style={isJamaahPending && isNext ? `border-bottom: 2px solid ${mainColor}` : ''} -->
            <span class={isJamaahPending && isNext ? `pending` : ''}>
              {iqamah}
            </span>
          </div>
        {/if}
      </div>
    {/each}

  </main>
</section>
