<script>
  // export let name;
  import { onDestroy } from 'svelte';

  import Header from './components/Header.svelte';
  import Clock from './components/Clock.svelte';
  import Prayers from './components/Prayers.svelte';
  import Message from './components/Message.svelte';
  import Countdown from './components/Countdown.svelte';
  import Footer from './components/Footer.svelte';
  // import bg from './config/bg.png';
  import {
    mainColor,
    backgroundColor,
    highlightColor,
    appStyle,
  } from './config/theme';
  import { updateStore } from './store/updateStore';

  let event;

  const unsubscribeUpdate = updateStore.subscribe(value => {
    event = value.event;
  });

  onDestroy(unsubscribeUpdate);
  // console.log(bg);
</script>

<!-- <style>
  h1 {
    color: purple;
  }
</style> -->

<!-- <style global lang="sass"> -->
<style>
/* h1 {
  color: #ccc;
} */
#content {
  height: 100%;
  width: 100%;
  max-width: 1080px;
  /* padding: 0 1vh; */
  margin: 0 auto;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-between;
  /* align-items: space-between; */
}
#app {
  color: #333;
  width: 100%;
  height: 100%;
  font-size: 4vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* background-image: url('./config/bg.png') */
}
</style>  

<!-- <div id="app" style={`background-image: url(${bg});${appStyle}`}> -->
<div id="app" style={appStyle}>
  <Header />
  <section id="content">
    <Clock />
    <Prayers />
    <!-- <Message /> -->
    <Countdown />
  </section>
  <Footer />
</div>
<!-- div Overlay(v-if="overlay") -->
